body {
}

h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-right: 10px;
    font-family: Calibri;
}

h2 {
    font-size: 20px;
    font-family: Calibri;
}


p{
    font-size:25px;
    font-family:Calibri;
}